/* body{
font-family: sans-serif;
} */
h1{
  font-size: 48px;
  color:#6cb3fc;
  font-family: DejaVu Serif, condensed bold;

}

main{
  font-family: ;
  margin: 4px;
  float: left;
}
.tagline{
  font-family: DejaVu serif, bold;
  font-size: 36px;
}
.attractor{
  font-family:Georgia;
  font-size: 16px;
}
h2{
  font-family:Dejavu serif;
}
.skills{
  font-family: Georgia;
  font-size: 16px;
}

.site-nav a {
/* list-style-type: none; */
  text-decoration: none;
  width: 100vw;
  background-color: #6cb3fc;
  margin: 0;
  color: #000;
  padding: 2vw;
  font-family: DejaVu Serif, condensed bold;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;

}
li{
  list-style-type: none;
  margin : 0 2vw;
  font-size: 3vh;
}

a:hover{
  background-color: #C6E9FF;
}

@media only screen and (max-width: 500px){
  ul{
    flex-direction: column;
  }
  li{
    margin: 0;
  }
  a{
    display: block;
  }
}
